{{ with .Site.Params.Email }}
<a href="mailto:{{.}}"><img class="icon-social" src="{{ .Site.BaseURL }}/img/email.svg" alt="Email Me!"/></a>
{{ end }}
{{ with .Site.Params.Github }}
<a href="{{.}}"><img class="icon-social" src="{{ .Site.BaseURL }}/img/github.svg" alt="Github"/></a>
{{ end }}
{{ with .Site.Params.Twitter }}
<a href="{{.}}"><img class="icon-social" src="{{ .Site.BaseURL }}/img/twitter.svg" alt="Twitter"/></a>
{{ end }}
<a href="{{.Site.RSSLink}}" target="_blank"><img class="icon-social" src="{{ .Site.BaseURL }}/img/feed.svg" alt="Feed"></a>
